# ==============================
# Virtual Environments
# ==============================
venv/
venv38/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Environment Files
# ==============================
.env

# ==============================
# Large Model File (Ignored)
# ==============================
model/yolo_best.onnx

# ==============================
# Large Media
# ==============================
*.mp4
*.avi
*.mov

# ==============================
# Output Folder
# ==============================
output/

# ==============================
# IDE
# ==============================
.vscode/
.idea/